<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="estilo.css">
		<link rel="icon" href="images/tierra.ico">
		<title><%= title %></title>
	</head>
	<body>
		<div class="container">
			<header>
				<img src="images/salva.jpg" height="130px" width="130px" title="Salva a la Tierra" alt="">
				<ul class="menu top">
					<li><a href="/">Inicio</a></li>
					<li><a href="/second">Contaminación del aire</a></li>
					<li><a href="/third">Contaminación del agua</a></li>
					<li><a href="/fourth">Contaminación de la tierra</a></li>
				</ul>
			</header>
			<img src="images/contaminacion.jpg" title="Contaminación" alt="">
			<main>
				<section class="col">
					<h2>Contaminación del aire</h2>
					<img src="images/contaminacion-del-aire.jpg" title="Contaminación del aire">
					<p>La contaminación atmosférica consiste en la presencia de materias o formas de energía en el aire que pueden suponer un riesgo, daño o molestia de diferente gravedad para los seres vivos. Entre las consecuencias directas de la contaminación atmosférica, se podría destacar el desarrollo de enfermedades y afecciones en los seres humanos y la biodiversidad. También la pérdida de visibilidad en zonas de grandes concentraciones o la aparición de olores desagradables.</p>
				</section>
				<section class="col">
					<h2>Contaminación del agua</h2>
					<img src="images/contaminacion-del-agua.jpg" title="Contaminación del agua">
					<p>La Organización Mundial de la Salud (OMS) define el agua contaminada como aquella que sufre cambios en su composición hasta quedar inservible. Es decir, es agua tóxica que no se puede ni beber ni destinar a actividades esenciales como la agricultura, además de una fuente de insalubridad que provoca más de 500.000 muertes anuales a nivel global por diarrea y transmite enfermedades como el cólera, la disentería, la fiebre tifoidea y la poliomielitis.</p>
				</section>
				<section class="col">
					<h2>Contaminación de la tierra</h2>
					<img src="images/contaminacion-de-la-tierra.jpg" title="Contaminación de la tierra">
					<p>Este mal invisible aparece cuando la concentración de contaminantes en la superficie es tan alta que daña la biodiversidad del suelo y pone en riesgo nuestra salud a través, sobre todo, de la alimentación. Precisamente actividades como la ganadería y la agricultura intensivas suelen emplear fármacos, plaguicidas y fertilizantes que contaminan los campos, al igual que ocurre con los metales pesados y otras sustancias químicas de origen natural o antropogénico.</p>
				</section>
			</main>
			<footer>
				<ul class="menu top">
					<li><a href="mailto:brandonslucatero@gmail.com">brandonslucatero@gmail.com</a></li>
					<li><a href="https://www.facebook.com/brandon.lucatero.77" target="_blank">Facebook</a></li>
					<li><a href="https://www.fundacionaquae.org/causas-contaminacion-ambiental/" target="_blank">Para saber más</a></li>	
				</ul>
			
			</footer>
			<div id="derechos">&#169: Brandon Miguel Lucatero Farias</div>
		</div>
	</body>
</html>