<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="estilo2.css">
		<link rel="icon" href="images/tierra.ico">
		<title><%= title %></title>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<img src="images/salva.jpg" height="130px" width="130px" title="Salva a la Tierra" alt="">
				<ul class="menu top">
					<li><a href="/">Inicio</a></li>
					<li><a href="/second">Contaminación del aire</a></li>
					<li><a href="/third">Contaminación del agua</a></li>
					<li><a href="/fourth">Contaminación de la tierra</a></li>
				</ul>
			</div>
			<img src="images/ima-aire.jpg" title="Contaminación del aire" align="center" width="1200px" height="600px">
			<main>
			<div class="col">
					<h2>¿Qué es?</h2>
					<img src="images/contaminacion-del-aire.jpg" title="Contaminación del aire" width="300px" height="250px" alt="">
					<p>La contaminación del aire es una mezcla de partículas sólidas y gases en el aire. Las emisiones de los automóviles, los compuestos químicos de las fábricas, el polvo, el polen y las esporas de moho pueden estar suspendidas como partículas. El ozono, un gas, es un componente fundamental de la contaminación del aire en las ciudades. Cuando el ozono forma la contaminación del aire también se denomina smog.</p>
					<br>
					<h3><i>Contaminación del aire</i></h3>
					<iframe width="300px" height="250px" src="https://www.youtube.com/embed/3DBQTCa9uFg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="col">
					<h2>¿Cuáles son los principales contaminantes?</h2>
					<img src="images/ima-aire4.jpg" title="Contaminación del aire" width="300px" height="250px" alt="">
					<p><li><b>Dióxido de carbono (CO2).</b>Y otros gases de efecto invernadero, como el metano (CH4).</li>
						<li><b>Monóxido de carbono (CO).</b> Particularmente tóxico y dañino para la vida.</li>
						<li><b>Los óxidos de azufre (SOx) y de nitrógeno (NOx).</b> Que al llegar a la atmósfera se combinan con el vapor de agua y producen ácido sulfúrico, generando las llamadas lluvias ácidas.</li>
						<li><b>Los CFC (Clorofluorocarbonos).</b> Gases que eran muy empleados en aerosoles o como refrigerantes, destruían el balance de la capa de ozono en la atmósfera.</li>
						<li><b>El ozono (O3).</b> Que si bien se halla naturalmente en un estrato específico de la atmósfera, al incrementar su presencia en otros estratos, se descompone frente a la radiación solar y libera enormes cantidades de energía, calentando la atmósfera artificialmente.</li>
					</p>
				</div>
				<div class="col">
					<h2>Consecuencias de la contamiación</h2>
					<img src="images/ima-aire2.jpg" title="Contaminación del aire" width="300px" height="250px250" alt="">
					<p>
						<li><b>Problemas respiratorios.</b> El aire contaminado puede deteriorar la salud de las personas y los animales e incluso las plantas, al contener sustancias cancerígenas o venenosas.</li>
						<li><b>Lluvias ácidas.</b> Ciertos elementos químicos reaccionan en la atmósfera con el vapor de agua y forman ácidos o mezclas corrosivas, que luego caen a la tierra con la lluvia.</li>
						<li><b>Deterioro del agua.</b> La contaminación del aire incide sobre la del agua, ya que ésta al evaporarse y precipitarse entra en contacto con los contaminantes atmosféricos.</li>
						<li><b>Daño en la capa de ozono.</b> En las capas superiores de la atmósfera se halla la capa de ozono que nos protege del impacto directo de los rayos solares. Ciertos gases reaccionan con él y “agujerean” la capa protectora.</li>
						<li><b>El efecto invernadero.</b> La presencia de ciertos gases pesados en la atmósfera constituye una barrera química artificial, que impide a una porción del calor terrestre irradiar hacia el espacio, haciendo que aumente la temperatura mundial.</li>
					</p>
				</div>
			</div>
			<footer>
				<ul class="menu top">
					<li><a href="#">brandonslucatero@gmail.com</a></li>
					<li><a href="https://www.facebook.com/brandon.lucatero.77" target="_blank">Facebook</a></li>
					<li><a href="https://www.fundacionaquae.org/causas-y-tipos-de-la-contaminacion-del-aire/" target="_blank">Para saber más</a></li>
				</ul>
			</footer>
			<div id="derechos">&#169: Brandon Miguel Lucatero Farias</div>	
		</div> 
	</body>
</html>