<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="estilo3.css">
		<link rel="icon" href="images/tierra.ico">
		<title><%= title %></title>
	</head>
	<body>
		<div class="container">
			<header>
				<img src="images/salva.jpg" height="130px" width="130px" title="Salva a la Tierra" alt="">
				<ul class="menu top">
					<li><a href="/">Inicio</a></li>
					<li><a href="/second">Contaminación del aire</a></li>
					<li><a href="/third">Contaminación del agua</a></li>
					<li><a href="/fourth">Contaminación de la tierra</a></li>
				</ul>
			</header>
			<img src="images/ima-agua.jpg" title="Contaminación del agua" align="center" width="1200px" height="600px">
			<main>
				<div class="col">
					<h2>¿Qué es?</h2>
					<img src="images/ima-agua2.jpg" title="Contaminación del agua" width="300px" height="250px" alt="">
					<p>La Organización Mundial de la Salud (OMS) define el agua contaminada como aquella que sufre cambios en su composición hasta quedar inservible. Es decir, es agua tóxica que no se puede ni beber ni destinar a actividades esenciales como la agricultura, además de una fuente de insalubridad que provoca más de 500.000 muertes anuales a nivel global por diarrea y transmite enfermedades como el cólera, la disentería, la fiebre tifoidea y la poliomielitis.
					<br>
					<h3><i>La contaminación del agua</i></h3>
					<iframe width="300" height="250px" src="https://www.youtube.com/embed/jxkVpUYgors" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</p>
				</div>
				<div class="col">
					<h2>¿Cuáles son los principales contaminantes?</h2>
					<img src="images/ima-agua3.jpg" title="Contaminación del agua" width="300px" height="250px" alt="">
					<p>
						<li><b>Desechos industriales</b>. La industria es uno de los principales factores que provocan la contaminación del agua. Desafortunadamente, miles de empresas aún desconocen el buen uso que se debe dar a este recurso y vierten cantidades de productos contaminantes derivados de sus procesos industriales. Los ríos y los canales son los más afectados por estas malas prácticas. </li>
						<li><b>Aumento de las temperaturas</b>. Aunque no lo parezca, el calentamiento global también influye en la contaminación del agua. ¿Cómo es posible? La explicación es sencilla: cuando un ecosistema sufre temperaturas por encima de las habituales, las fuentes de agua disminuyen su cantidad de oxígeno, lo cual hace que el agua altere su composición.</li>
						<li><b>Uso de pesticidas en la agricultura</b>. La gran mayoría de los procesos agrícolas de nuestro tiempo emplean fertilizantes y productos químicos para el cultivo y la producción de los alimentos. Pues bien, estos productos se filtran a través de canales subterráneos que, en la mayoría de los casos, acaban en las redes de agua que utilizamos para nuestro consumo</li>
						<li><b>Derrames de petroleo</b>. Dichos vertidos se deben al transporte deficiente del petróleo y a la filtración de productos como la gasolina, que generalmente es almacenada en tanques bajo tierra; en muchos casos, los tanques tienen fugas y la sustancia se filtra a los cuerpos que están a su alrededor, entre ellos las fuentes de agua aptas para el consumo humano.</li>
					
					</p>
				</div>
				<div class="col">
					<h2>Consecuencias de la contamiación</h2>
					<img src="images/ima-agua4.jpg" title="Contaminación del aire" width="300px" height="250px250" alt="">
					<p>
						<li><b>Destrucción de la biodiversidad</b>. La contaminación hídrica empobrece los ecosistemas acuáticos y facilita la proliferación descontrolada de algas fitoplanctónicas en los lagos</li>
						<li><b>Contaminación de la cadena alimentaria</b>. La pesca en aguas contaminadas, así como la utilización de aguas residuales en la ganadería y la agricultura, pueden transmitir toxinas a los alimentos que perjudiquen nuestra salud a través de su ingesta.</li>
						<li><b>Escasez de agua potable</b>. La ONU admite que aún existen miles de millones de personas en el mundo sin acceso a agua potable y saneamiento, sobre todo en zonas rurales.</li>
						<li><b>Enfermedades</b>. La OMS calcula que unos 2.000 millones de personas beben agua potable contaminada por excrementos, exponiéndose a contraer enfermedades como el cólera, la hepatitis A y la disentería.</li>
						<li><b>Mortalidad infantil</b>. Según la ONU, las enfermedades diarreicas vinculadas a la falta de higiene causan la muerte a unos mil niños al día en todo el mundo.</li>
					</p>
				</div>
			</main>
			<footer>
				<ul class="menu top">
					<li><a href="#">brandonslucatero@gmail.com</a></li>
					<li><a href="https://www.facebook.com/brandon.lucatero.77" target="_blank">Facebook</a></li>
					<li><a href="https://blog.oxfamintermon.org/cuales-son-las-principales-causas-de-la-contaminacion-del-agua/" target="_blank">Para saber más</a></li>
				</ul>
			</footer>
				<div id="derechos">&#169: Brandon Miguel Lucatero Farias</div>
		</div> 
	</body>
</html>