body{
	background:#99A3A4;
}

.container{
	width: 1200px;
	background: white;
	margin: auto;
}

.top{
	margin-top: 50px;
}

.menu{
	float: right;
}

.menu li{
	display: inline-block;
}

.menu a{
	font-size: 20px;
	color: black;
	text-decoration: none;
	padding: 20px;
	font-family: monospace;
}

.menu a:hover{
	background: #DAF7A6;
	padding: 20px 20px;
	transition: all .5s; 
}

.col{
	width: 300px;
	display: inline-block;
	vertical-align: top;
	text-align: justify;
	padding: 30px
}

.col h2{
	color: #01579B;
	text-align: center;
}

.info{
	text-align: center;
	font-size: 15px;
}

.footer{
	overflow: hidden;
}

#derechos{
	text-align: left;
}